<row>
<div class="col col-md-6">
<h2>Signup</h2>
<form ng-submit="handleEmailRegistration()" role="form">
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" name="full_name" ng-model="registrationForm.full_name" required="required" class="form-control"/>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
  </div>

  <!---<div class="form-group">
    <label>Password Confirmation</label>
    <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
  </div> --->

  <button type="submit" class="btn btn-default">Register</button>
</form>
<br>
    <input type="button" class="button-fb" ng-click="handleFacebookRegistration()">
</div>
</row>